form {
    width: 100%;
    > div {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);
        @include xm {
            @include flex-direction(column);
            padding-bottom: 20px;
            &:first-of-type, &:nth-of-type(2) {
                border-bottom: none;
            }
            .eight {
                margin-left: 0;
            }
            div .segmented {
                margin: 0;
            }
            .twelve {
                width: 100%;
                button {
                    width: 100%;
                }
            }
        }
        border-bottom: 1px solid $border-grey;
        .four {
            @include align-self(flex-start);
        }
        &:first-of-type {
            margin-top: 10px;
        }
        &:last-of-type {
            padding: 1.5em 0 1.5em 0;
            border-bottom: none;
        }
        select {
            @include border-radius(4px);
            @include box-shadow(none);
            height: 38px;
            width: 100%;
            color: $black-variations;
            font-size: 15px;
            padding: 6px 10px;
            background-color: $white;
            border: 1px solid $white-select;
            box-sizing: border-box;
            &:focus {
                outline: 0;
                border: 1px solid $orange-slider;
            }
        }
        .segmented {
            @include flexbox();
            @include xm {
                padding-right: 6px;
            }
            margin: 1.5em 0;
            input[type=radio]{
                display: none;
            }
            input:first-child + label {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            input:checked + label, label.selected, label.checked {
                background-color: $orange-slider;
                color: $white;
            }
            label {
                @include flex-grow(1);
                @include border-radius(0);
                @include text-shadow($white);
                &:last-child {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
                img {
                    @include transition(.3s ease);
                    width: 60%;
                    margin-top: 2px;
                    &:hover {
                        @include scale((1.1,1.1));
                    }
                }

                font-weight: 600;
                box-sizing: border-box;
                text-align: center;
                background-color: $white;
                border: 1px solid $orange-slider;
                color: $orange-slider;
                padding: 5px 5px;
                font-size: 12px;
                cursor: pointer;
                margin-right: -6px;
            }

        }
        .inline-radio {
            margin-right: 10px;
            @include xm {
                margin-right: 5px;
            }
        }
    }
    h4 {
        font-size: 20px;
        font-weight: $light;
    }
    output {
        float: right;
    }
    button[type=submit] {
        @include border-radius(4px);
        height: 48px;
        width: auto;
        color: $white;
        background-color: $orange-slider;
        border: 1px solid $orange-slider;
        line-height: 48px;
        padding: 0 30px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
        box-sizing: border-box;
    }
}