#search-results {
    display: none;
    text-align: center;
    padding-bottom: 28px;
    h2 {
        font-size: 30px;
        font-weight:$light;
    }
    #total {
        font-weight: 600;
        display: block;
        font-size: 3em;
    }
    .social {
        margin-bottom: 25px;
        @include xm {
            @include flexbox();
            @include flex-direction(column);
            @include align-content(stretch);
            a {
                width: auto;
            }
        }
    }
    a {
        @include border-radius(3px);
        font-size: 15px;
        color: $white;
        padding: 10px;
        text-decoration: none;
        margin: 2px;
        width: 100%;
        &:first-of-type {
            background-color: $facebook;
        }
        &:nth-of-type(2) {
            background-color: $twitter;
        }
        &:last-of-type {
            background-color: $whatsapp;
        }
    }
    @include xm {
        button {
            width: 100%;
        }
    }
}
