/*Colors*/
$black-variations: rgb(34,34,34);
$orange-slider: #e8972c;
$orange-dark: #d28115;
$white: #ffffff;
$white-select: #D1D1D1;
$facebook: #305c99;
$twitter: #00cdff;
$whatsapp: #25D366;
$border-grey: #e7e7e7;
$grey: #e6e6e6;
$visited: #666;
$footer-hover: #d4d4d4;

    /*Text*/
$small: 14px;
$medium: 18px;
$large: 24px;
$xlarge: 46px;

/*font-weight*/
$light: 300;
$normal: 500;
$bold: 900;

/*breakpoints*/
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;