/*Colors*/
$black-variations: rgb(34,34,34);
$header_background: rgba(241, 242, 240, 0.6);
$grey: #4A4A4A;
$golden: #94840C;
$golden-light: #E8DF9C;
$golden-variation: #81720D;
$yellow-variations: #C5B015;
$white: #ffffff;
$white-variation: #F8FEFF;
$white-grey: #DFF6FB;
$light-white: #A1D7E2;
$breeze: #8CC1CC;
$breeze-light: #176274;
$breeze-dark: #0E5361;
$breeze-copyright: #0F424E;
$blue: #187588;
$blue-light: #2192A8;
$breeze-variation:  #A6D4DD;
$pink: #C50475;
$pink-variations: #D22888;
$pink-add: #C1004D;
$orange: #F25F5F;
$cyan-light: #E4F7FC;;
$light-blue: #D6EEF2;

/*Text*/
$small: 14px;
$medium: 18px;
$large: 24px;
$xlarge: 46px;

/*font-weight*/
$light: 300;
$normal: 500;
$bold: 900;

/*breakpoints*/
$breakpoints: (
        'small'  : 767px,
        'medium' : 992px,
        'large'  : 1200px
);