@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "variables";
@import "mixins";
@import "grid";
@import "header";
@import "footer";
@import "slider";
@import "main";



body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;

}


